[submodule "deps/GSL"]
	path = deps/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "astrometrynet"]
	path = astrometrynet
	url = https://github.com/SeverinDenisenko/astrometry.net.git
[submodule "deps/cfitsio"]
	path = deps/cfitsio
	url = https://github.com/HEASARC/cfitsio.git
[submodule "deps/sep"]
	path = deps/sep
	url = https://github.com/SeverinDenisenko/sep.git
[submodule "deps/libconfig"]
	path = deps/libconfig
	url = https://github.com/hyperrealm/libconfig.git
